services:
  client:
    build: ./client
    ports:
      - "8080:3000" # Mapear el puerto 8080 del host al 3000 del contenedor (puerto real de Vite)
    volumes:
      - ./client:/app
      - /app/node_modules # Asegura que node_modules dentro del contenedor no sea sobrescrito por el volumen local vacío
    depends_on:
      - server
    environment:
      # Definimos la variable de entorno para la URL del WebSocket
      - VITE_WEBSOCKET_URL=ws://host.docker.internal:3999 # Usamos el alias host.docker.internal para acceder al host

  server:
    build: ./server
    ports:
      - "3999:3999" # Mapear el puerto 3999 del host al 3999 del contenedor
    volumes:
      - ./server:/app
      - /app/node_modules # Asegura que node_modules dentro del contenedor no sea sobrescrito por el volumen local vacío